body{
	margin: 0;
}

h1{
	color : red;
}


/*   ruban     */ 
header {	
	background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
	padding: 5px 15px 0 15px;
	padding-bottom: 15px;
}
/*     le titre         */
header h1{
	margin: 0;
	display: inline;
	color: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
	
}

nav a {
	text-decoration: none;
	color: #20d64d;
}

nav ul {
	margin: 0;
	display: inline;
}

nav ul li{
	margin-right: 10px;
	border-radius: 10px; /* bordures des liens arrondies*/
	-webkit-border-radius: 10px;	/* Dans le cas où il y a un problème de compatibilité */
	list-style: none;
	display: inline-block;
	background-color: #0FAB2E;
	color: #EBE41C;
}

nav ul li a{
	border: 2px solid #167037;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	display: block;
	padding: 5px 15px;
	text-decoration: none;
	color: #EBE41C;
}

nav ul li a:hover{ /* Lorsqu'on passe la souris sur les liens */
	background-color: #DB0F0F;
	color: #555;

}

.container{
	height: 90%;
	width: 90%;
}

footer{  /* Bas de page */
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%);
	color: #0e1521;
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	
}	




